* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.button {
  margin: 10px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  color: white;
}
.nav {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.nav-item {
  margin-left: 20px;
}
.nav-item {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.nav-item:hover {
  color: #000;
}
.navbar {
  background-color: #218eec;
  height: 60px;
}
.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.heading {
  margin-top: 30px;
}


.goals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

@media only screen and (max-width: 600px){
  .goals{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  }
}
@media only screen and (max-width: 320px){
  .goals{
    display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  }
}